body {
    min-height: 75rem;
    background-color: #F0F0F0;
}

#loadingWindow .modal-content {
    padding: 15px;
}

#loadingWindow .loading-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 20px;
}

#subtit{
font-size: 30px;
}

#homejum{
    margin-top: 10rem;
    background-color:azure;
}